@import "null.scss";
@import "fonts.scss";

body {
	font-family: "Open Sans", sans-serif;

	.wrapper-body {
		position: relative;
		overflow-x: hidden;
		.menu {
			display: flex;
			position: fixed;
			z-index: 99;
			left: 0;
			top: 0;
			width: 30%;
			height: 100vh;
			align-items: center;
			justify-content: center;
			background-color: #6b6675;
			transition: 0.7s;
			transform: translateX(-100%);
			@media (max-width: 991px) {
				width: 50%;
			}
			@media (max-width: 767px) {
				width: 80%;
			}
			@media (max-width: 575px) {
				width: 90%;
			}
			.menu-list {
				display: flex;
				justify-content: space-around;
				align-items: center;
				height: 50%;
				flex-direction: column;
				a {
					text-transform: uppercase;
					font-weight: 900;
					color: #fff;
				}
				.sprite {
					display: flex;
					.icons {
						width: 30px;
						height: 30px;
						fill: #fff;
						margin-right: 5px;
						&.instagram {
							background-color: #57a1d0;
							&:hover {
								cursor: pointer;
								border: 2px solid #fff;
							}
						}
						&.vk {
							background-color: #4984ad;
							&:hover {
								cursor: pointer;
								border: 2px solid #fff;
							}
						}
						&.mail {
							background-color: #e93b3b;
							&:hover {
								cursor: pointer;
								border: 2px solid #fff;
							}
						}
					}
				}
			}
			.menu-btn {
				display: block;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				background-color: #6b6675;
				position: absolute;
				right: -35px;
				top: 30px;

				span {
					width: 20px;
					height: 2px;
					background-color: #000;
					top: 50%;
					left: 50%;
					margin-left: -10px;
					margin-top: -1px;
					position: absolute;
					&::before {
						content: "";
						width: 20px;
						height: 2px;
						background-color: #000;
						top: 50%;
						left: 50%;
						margin-left: -10px;
						margin-top: -1px;
						position: absolute;
						transform: translateY(-5px);
					}
					&::after {
						content: "";
						width: 20px;
						height: 2px;
						background-color: #000;
						top: 50%;
						left: 50%;
						margin-left: -10px;
						margin-top: -1px;
						position: absolute;
						transform: translateY(5px);
					}
				}
			}
		}
		.menu_active {
			transform: translateX(0%);
		}
		.content {
			transition: 0.7s;
			position: relative;
			z-index: 0;
		}
		.content_active {
			transform: translateX(30%);
		}
	}
	//TOP-HEADER===========================================
	.wrapper-topheader {
		max-width: 1920px;
		min-width: 100%;
		background-color: #25333c;
	}
	//CONTAINER==============================================
	.container {
		width: 1125px;
		margin: 0 auto;
		padding: 0 10px;
		@media (max-width: 1199px) {
			width: 960px;
		}
		@media (max-width: 991px) {
			width: 720px;
		}
		@media (max-width: 767px) {
			width: 540px;
		}
		@media (max-width: 575px) {
			width: 100%;
		}
	}

	.top-header {
		display: flex;
		justify-content: space-between;
		span a {
			display: block;
			color: #d3d6d8;
			text-transform: uppercase;
			border: 2px solid #d3d6d8;
			padding: 8px 10px;
			margin: 8px 0 8px 0;
			@media (max-width: 575px) {
				padding: 3px 4px;
				font-size: 13px;
				border: 1px solid #d3d6d8;
			}
		}
		a {
			color: #d3d6d8;
			padding-left: 10px;
		}
		.top-header__block {
			display: flex;
			align-items: center;
			.top-header__forms {
				display: flex;
				padding-left: 60px;
				&.track {
					padding-left: 40px;
				}
				@media (max-width: 991px) {
					display: none;
				}
			}
			&:nth-child(2) {
				@media (max-width: 1199px) {
					flex-direction: column;
				}
			}
		}
		.top-header__contacts {
			display: flex;
			align-items: center;
			&.phone {
				padding-right: 20px;
				a {
					font-weight: bold;
				}
			}
			@media (max-width: 1199px) {
				padding-top: 10px;
				&.mail {
					padding-bottom: 10px;
					@media (max-width: 575px) {
						display: none;
					}
				}
			}
		}
	}

	//HEADER-BG===================================

	.wrapper-header {
		min-height: 100%;
		min-width: 100%;
		background: url(../img/bgf.png) 0 0 / cover no-repeat, url(../img/bg.png) center center / cover no-repeat;
	}

	//SECTION_HEADER==============================

	.header {
		display: flex;
		justify-content: space-between;

		.logo {
			display: flex;
			align-items: center;
			margin-top: 15px;
			margin-bottom: 10px;
			.tur {
				position: absolute;
			}
			.rus {
				position: relative;
				margin-left: 45px;
			}
			.logo-text {
				display: flex;
				flex-direction: column;
				p {
					color: #fff;
					text-transform: uppercase;
					padding-left: 10px;
					&.title {
						font-family: "Roboto Condensed";
						font-weight: bold;
						font-size: 27px;
						margin-top: -5px;
						@media (max-width: 991px) {
							font-size: 21px;
							padding-top: 6px;
						}
					}
					&.subtitle {
						font-family: "Roboto Condensed";
						font-weight: normal;
						font-size: 12px;
						padding-left: 14px;
						@media (max-width: 991px) {
							font-size: 8px;
						}
					}
					@media (max-width: 991px) {
						margin-left: -15px;
					}
					@media (max-width: 767px) {
						margin-left: 0;
					}
				}
			}
			@media (max-width: 991px) {
				display: block;
			}
			@media (max-width: 767px) {
				display: flex;
			}
		}

		.header__menu {
			display: flex;
			align-items: center;
			.header__list {
				display: flex;
				.header__link {
					margin-left: 45px;
					&:first-child {
						margin-left: 0;
					}
					a {
						text-transform: uppercase;
						color: #fff;
						font-family: "Open Sans";
						font-size: 13px;
						font-weight: 700;
						cursor: pointer;
						@media (max-width: 1199px) {
							font-size: 12px;
						}
					}
					@media (max-width: 991px) {
						margin-left: 30px;
					}
					@media (max-width: 767px) {
						display: none;
					}
				}
			}
		}
	}

	//BLOCK VIDEO================================================
	.forms {
		display: flex;
		padding-top: 80px;
		@media (max-width: 1199px) {
			padding-top: 60px;
		}
		@media (max-width: 575px) {
			padding-top: 30px;
		}

		h1 {
			font-size: 48px;
			font-weight: bold;
			color: #fff;
			text-transform: uppercase;
			text-align: center;
			@media (max-width: 1199px) {
				font-size: 43px;
			}
			@media (max-width: 991px) {
				font-size: 39px;
			}
			@media (max-width: 767px) {
				font-size: 25px;
			}
			@media (max-width: 575px) {
				font-size: 20px;
			}
		}
		.block-forms {
			display: flex;
			@media (max-width: 1199px) {
				flex-wrap: wrap;
				flex-flow: column-reverse;
			}
			.form {
				display: flex;
				flex-direction: column;
				margin-top: 80px;
				width: 315px;
				@media (max-width: 1199px) {
					margin: 0 auto;
				}
				@media (max-width: 575px) {
					width: 100%;
				}
				.form__title {
					display: block;
					border: 1px solid #25333c;
					background-color: #25333c;
					font-size: 19px;
					font-weight: bold;
					padding: 18px 0;
					span {
						font-size: 14px;
						font-weight: normal;
					}
				}
				.form__input {
					display: flex;
					flex-direction: column;
					align-items: center;
					background-color: rgba($color: #dedfe4, $alpha: 0.6);
					padding-top: 12px;
					input {
						border: 1px solid #c1c4c7;
						width: 90%;
						padding: 15px;
						margin-bottom: 5px;
					}
					.button {
						margin-top: 10px;
						margin-bottom: 23px;
						padding: 18px 35px;
						color: #fff;
						font-size: 14px;
						text-transform: uppercase;
						background-color: #e93b3b;
						border-radius: 5px;
						&:hover {
							background-color: rgb(236, 17, 17);
							font-weight: bold;
						}
					}
				}
			}
			.block-video {
				width: 800px;
				margin-top: 80px;
				margin-left: 25px;
				cursor: pointer;
				@media (max-width: 1199px) {
					margin: 60px auto;
				}
				@media (max-width: 991px) {
					margin-top: 40px;
					width: 100%;
				}
				@media (max-width: 575px) {
					margin-top: 10px;
				}
				video {
					height: 396px;
					width: 100%;
					@media (max-width: 1199px) {
						height: 100%;
					}
				}
			}
		}

		//SPRITE=====================================================
		.sprite {
			display: flex;
			flex-direction: column;
			justify-content: center;
			@media (max-width: 575px) {
				display: none;
			}
			@media (max-width: 991px) {
				margin-top: 210px;
			}
			.icons {
				width: 50px;
				height: 50px;
				margin-right: 30px;
				margin-left: -30px;
				fill: #fff;
				margin-top: 5px;
				@media (max-width: 1199px) {
					height: 30px;
					width: 30px;
				}
				&.instagram {
					background-color: #57a1d0;
					&:hover {
						cursor: pointer;
						border: 2px solid #fff;
					}
				}
				&.vk {
					background-color: #4984ad;
					&:hover {
						cursor: pointer;
						border: 2px solid #fff;
					}
				}
				&.mail {
					background-color: #e93b3b;
					&:hover {
						cursor: pointer;
						border: 2px solid #fff;
					}
				}
			}
		}
	}
	.block-arrow {
		display: flex;
		justify-content: center;
		margin-top: 80px;
		@media (max-width: 575px) {
			display: none;
		}
		.arrow {
			width: 150px;
			height: 50px;
			fill: #ececec;
			&:hover {
				cursor: pointer;
				fill: #fff;
			}
		}
	}

	//BLOCK ABOUT-US=========================================
	.block-about-us {
		background-color: #f3f3f3;
		.about-us {
			display: flex;
			justify-content: space-between;
			@media (max-width: 1199px) {
				flex-wrap: wrap;
			}

			.about-us__info {
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 40px 20px 60px;
				@media (max-width: 1199px) {
					width: 50%;
				}
				@media (max-width: 575px) {
					width: 100%;
				}
				.about-us__title {
					font-size: 16px;
					font-weight: bold;
					color: #e93b3b;
					padding-top: 20px;
				}
				.about-us__text {
					line-height: 1.5;
					text-align: center;
					padding-top: 20px;
					color: #3a3a3a;
				}
			}
		}
	}

	//CALC====================================
	.block-calc {
		.block-calc__title {
			text-align: center;
			padding-top: 45px;
			font-size: 30px;
		}
		.calc-line {
			display: flex;
			span {
				border-top: 1px solid #e93b3b;
				margin-top: 60px;
				width: 45%;
				@media (max-width: 991px) {
					width: 40%;
				}
				@media (max-width: 767px) {
					width: 38%;
				}
			}
			.calc__img {
				margin: 20px auto;
				border: 1px solid #e93b3b;
				height: 80px;
				width: 80px;
				border-radius: 50%;
				text-align: center;
				padding-top: 13px;
			}
		}

		.calc__select {
			display: flex;
			flex-direction: column;
			form {
				border: 1px solid #e93b3b;
				border-top: 0;
				border-bottom: 0;
				margin-top: -60px;
			}
			.form-row1 {
				display: flex;
				justify-content: space-around;
				margin-top: 60px;
				@media (max-width: 767px) {
					flex-wrap: wrap;
				}
				.form-row1__block {
					display: flex;
					flex-direction: column;
					width: 23%;
					@media (max-width: 767px) {
						width: 45%;
						margin-bottom: 10px;
					}
					@media (max-width: 575px) {
						width: 90%;
					}
					&:nth-child(1) {
						margin-left: 18px;
						@media (max-width: 767px) {
							margin-left: 0;
						}
					}
					&:nth-child(4) {
						margin-right: 18px;
						@media (max-width: 767px) {
							margin-right: 0;
						}
					}
					.calc__select-form-text {
						font-size: 16px;
						font-weight: bold;
						@media (max-width: 991px) {
							font-size: 13px;
						}
					}
					.select {
						margin-top: 10px;
						border: 1px solid #c1c4c7;
						border-right: 0;
						padding: 18px 25px;
						appearance: none;
						background: url(../img/icons/bgarrow.png) no-repeat right;
						cursor: pointer;
						@media (max-width: 991px) {
							padding: 13px 10px;
							font-size: 12px;
						}
					}
				}
			}
			.form-row2 {
				display: flex;
				flex-direction: column;
				@media (max-width: 767px) {
					margin-top: -15px;
				}
				.calc__select-form-text {
					font-size: 16px;
					font-weight: bold;
					text-align: center;
					margin-top: 25px;
					@media (max-width: 767px) {
						font-size: 13px;
					}
				}
				.form-row-block {
					display: flex;
					justify-content: center;
					margin-top: 10px;
					@media (max-width: 991px) {
						flex-wrap: wrap;
					}
					input {
						border: 1px solid #c1c4c7;
						padding-left: 10px;
						&.sm {
							width: 70px;
							height: 50px;
							@media (max-width: 991px) {
								height: 42px;
								margin-bottom: 10px;
							}
						}

						&.kg {
							width: 95px;
							@media (max-width: 991px) {
								height: 42px;
							}
						}
					}
					.form-row2__block {
						display: flex;
						margin-right: 25px;
						@media (max-width: 575px) {
							margin-right: 0;
							&:last-child {
								margin-left: 10px;
								@media (max-width: 320px) {
									margin-top: 10px;
								}
							}
						}
						&:last-child {
							margin-right: 0;
						}
						&.mobile {
							@media (max-width: 575px) {
								flex-wrap: wrap;
								justify-content: center;
							}
						}
						.form-row2-text {
							padding-top: 20px;
							@media (max-width: 991px) {
								padding-top: 15px;
							}
							padding-right: 13px;
							&:nth-child(3) {
								padding-left: 13px;
							}
							&:nth-child(5) {
								padding-left: 13px;
							}
						}
					}
				}
			}
			.calc-btn {
				display: flex;
				margin-top: 30px;
				@media (max-width: 991px) {
					margin-top: 20px;
				}
				.calc-button {
					margin: 0 auto;
					padding: 20px 45px;
					color: #fff;
					text-transform: uppercase;
					font-weight: bold;
					border-radius: 5px;
					background-color: #e93b3b;
				}
				span {
					border-bottom: 1px solid #e93b3b;
					margin-bottom: 28px;
					width: 40%;
					@media (max-width: 991px) {
						width: 35%;
					}
					@media (max-width: 767px) {
						width: 30%;
					}
					&.span-left {
						border-left: 1px solid #e93b3b;
						margin-top: -30px;
					}
					&.span-right {
						border-right: 1px solid #e93b3b;
						margin-top: -30px;
					}
				}
			}
		}
	}
	//BLOCK_CARTS======================================
	.block-carts {
		background-color: #f3f3f3;
		margin-top: 50px;

		.carts {
			display: flex;
			flex-direction: column;

			.carts__title {
				margin-top: 50px;
				font-size: 30px;
				text-align: center;
			}
			.carts__subtitle {
				margin-top: 18px;
				font-size: 19px;
				text-align: center;
			}
			.carts__row {
				display: flex;
				justify-content: space-between;
				margin-top: 30px;
				@media (max-width: 991px) {
					flex-wrap: wrap;
					justify-content: center;
				}
				.cart {
					background-color: #fff;
					display: flex;
					flex-direction: column;
					align-items: center;
					margin-right: 25px;
					margin-bottom: 50px;
					@media (max-width: 767px) {
						margin-right: 0;
					}
					&:first-child {
						margin-left: 65px;
						@media (max-width: 991px) {
							margin-left: 0;
						}
					}
					&:last-child {
						margin-right: 65px;
						@media (max-width: 991px) {
							margin-right: 0;
						}
					}
					.cart__title {
						width: 100%;
						text-align: center;
						padding: 20px;
						background-color: #25333c;
						font-size: 16px;
						font-weight: bold;
						text-transform: uppercase;
						color: #fff;
					}
					.cart__img {
						margin-top: 10px;
					}
					.cart__text {
						font-size: 16px;
						margin-top: 15px;
						text-transform: uppercase;
						font-weight: bold;
					}
					.cart__price {
						font-size: 30px;
						font-weight: bold;
						color: #e93b3b;
						margin-top: 10px;
					}
					.cart__form {
						margin-top: 15px;
						width: 90%;
						.block-form-cart {
							display: flex;
							flex-direction: column;
							input {
								border: 1px solid #c1c4c7;
								padding: 18px;
								margin-top: 5px;
							}
						}
						.button {
							width: 75%;
							margin: 18px auto;
							padding: 20px;
							color: #fff;
							font-size: 14px;
							text-transform: uppercase;
							background-color: #e93b3b;
							border-radius: 5px;
							&:hover {
								background-color: rgb(236, 17, 17);
								font-weight: bold;
							}
							@media (max-width: 1199px) {
								padding: 15px;
							}
						}
					}
					.cart__footer {
						font-size: 13px;
						color: #6c6e71;
						text-align: center;
						margin-bottom: 25px;
						width: 75%;
					}
				}
			}
		}
	}
	//BG-block========================================
	.bg1 {
		background: url(../img/bgf.png) 0 0 / cover no-repeat, url(../img/bg1.png) center center / cover no-repeat;
		padding-top: 60px;
		padding-bottom: 75px;
		.bg1__img {
			display: flex;
			margin: auto;
			border: 1px solid #fff;
			border-radius: 50%;
			width: 100px;
			height: 100px;
			align-items: center;
			.img-bg1 {
				padding: 24px;
			}
		}
		.bg1__title {
			margin-top: 20px;
			font-size: 30px;
			color: #fff;
			text-align: center;
		}
		.bg1__subtitle {
			margin-top: 20px;
			font-size: 19px;
			line-height: 1.5;
			color: #fff;
			text-align: center;
		}
	}
	//SCALE=====================================================
	.scale {
		background-color: #f3f3f3;
		.scale__title {
			text-align: center;
			padding-top: 50px;
			font-size: 30px;
		}
		.scale__subtitle {
			text-align: center;
			font-size: 19px;
			padding-top: 18px;
			font-weight: 300;
			span {
				text-transform: uppercase;
			}
		}
		ol {
			list-style: none;
			counter-reset: count;
			position: relative;
			margin-top: 30px;
			padding-bottom: 50px;
			li {
				@media (max-width: 575px) {
					padding-top: 50px;
				}
				h1 {
					font-size: 16px;
					font-weight: bold;
					color: #e93b3b;
				}
				p {
					font-weight: 300;
					padding-top: 15px;
					line-height: 1.5;
				}

				.scale-row {
					display: flex;

					&.right {
						flex-direction: row-reverse;
					}

					.scale-column {
						display: flex;
						flex-direction: column;
						padding-right: 30px;
						&.right {
							padding-left: 30px;
							padding-right: 0;
						}
					}
				}
			}
			.scale__list-left {
				text-align: right;
			}
		}
		ol:before {
			content: "";
			position: absolute;
			top: 25px;
			left: 50%;
			width: 1px;
			height: 80%;
			background: #c8cacd;
			margin-left: -1px;
			@media (max-width: 575px) {
				display: none;
			}
		}
		ol > li {
			position: relative;
			margin: 20px 0;
			padding-right: calc(50% + 30px);
			@media (max-width: 575px) {
				padding-right: 0;
			}
		}
		ol > li:nth-child(even) {
			padding-right: 0;
			padding-left: calc(50% + 30px);
			@media (max-width: 575px) {
				padding-left: 0;
			}
		}
		ol > li:before {
			counter-increment: count;
			content: counter(count) " ";
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -14px;
			width: 28px;
			height: 28px;
			line-height: 28px;
			border: 1px solid #c8cacd;
			background: #f3f3f3;
			color: #c8cacd;
			text-align: center;
			border-radius: 50%;
			@media (max-width: 575px) {
				display: none;
			}
		}
	}
	//SLIDER========================================
	.slider {
		.swiper-title {
			text-align: center;
			margin-top: 60px;
			font-size: 30px;
		}
		.image-slider {
			padding: 20px 0;
			margin-bottom: 50px;
			text-align: center;
			&__slide {
				padding: 20px 50px;
			}
			&__image {
				text-align: center;
				img {
					max-width: 100%;
				}
			}
			&__subtitle {
				font-weight: bold;
				padding-top: 20px;
			}
			a {
				display: inline-block;
				font-size: 12px;
				color: #e93b3b;
				padding: 20px 0;
			}
			&__text {
				padding: 0 30px;
				padding-bottom: 10px;
				line-height: 1.5;
				text-align: justify;
			}
			.swiper-button-prev::after,
			.swiper-button-next::after {
				color: #e93b3b;
				font-size: 55px;
				@media (max-width: 767px) {
					font-size: 40px;
				}
				@media (max-width: 767px) {
					font-size: 20px;
				}
			}
			.swiper-pagination {
				bottom: 0;
			}
			.swiper-pagination-bullet {
				background-color: #e93b3b;
				width: 10px;
				height: 10px;
			}
		}
	}
	//BG-block========================================
	.bg2 {
		background: url(../img/bgf.png) 0 0 / cover no-repeat, url(../img/bg2.png) center center / cover no-repeat;
		padding-top: 60px;
		padding-bottom: 75px;
	}
	//TRACK_STATUS======================================
	.track-status {
		.track-cart {
			display: flex;
			flex-direction: column;
			.track__title {
				text-align: center;
				font-size: 30px;
				padding-top: 55px;
			}
			.track__carts-row {
				display: flex;
				justify-content: space-between;
				@media (max-width: 991px) {
					flex-wrap: wrap;
					justify-content: center;
				}

				.track__carts-column {
					display: flex;
					flex-direction: column;
					align-items: center;
					margin-top: 35px;
					width: 260px;
					border: 1px solid #c4c7ca;
					@media (max-width: 1199px) {
						margin: 35px 5px 0;
					}
					.track__carts-title {
						background-color: #25333c;
						color: #fff;
						text-transform: uppercase;
						width: 100%;
						padding: 20px 0;
						text-align: center;
						font-weight: bold;
					}
					img {
						margin-top: 20px;
					}
					.track__carts-text {
						font-size: 24px;
						font-weight: bold;
						padding-top: 15px;
					}
					.track__carts-btn {
						border: 1px solid #e93b3b;
						border-radius: 3px;
						color: #e93b3b;
						font-weight: bold;
						text-transform: uppercase;
						padding: 15px 20px;
						margin: 30px 0 15px 0;
						&:hover {
							border: 2px solid #e93b3b;
						}
					}
				}
			}
			.status-track {
				display: flex;
				flex-direction: column;
				.status-track__title {
					text-align: center;
					font-size: 30px;
					margin-top: 50px;
				}
				.status-track-line {
					display: flex;
					span {
						border-top: 1px solid #e93b3b;
						margin-top: 60px;
						width: 45%;
						@media (max-width: 991px) {
							width: 40%;
						}
						@media (max-width: 767px) {
							width: 38%;
						}
					}
					.status-track__img {
						margin: 20px auto;
						border: 1px solid #e93b3b;
						height: 80px;
						width: 80px;
						border-radius: 50%;
						text-align: center;
						padding-top: 13px;
					}
				}
				.status-track__row {
					display: flex;
					justify-content: center;
					@media (max-width: 767px) {
						flex-direction: column;
						align-items: center;
					}
					input {
						border: 1px solid #c1c4c7;
						padding: 18px;
						width: 25%;
						margin-right: 15px;
						&:last-child {
							margin-right: 0;
						}
						@media (max-width: 767px) {
							width: 50%;
							margin: 5px 0 0 0;
						}
						@media (max-width: 767px) {
							width: 80%;
						}
					}
				}
				.status-track-btn {
					display: flex;
					margin-top: 20px;
					margin-bottom: 40px;
					@media (max-width: 991px) {
						margin-top: 20px;
					}
					.status-track-button {
						margin: 0 auto;
						padding: 20px 45px;
						color: #fff;
						text-transform: uppercase;
						font-weight: bold;
						border-radius: 5px;
						background-color: #e93b3b;
					}
					span {
						border-bottom: 1px solid #e93b3b;
						margin-bottom: 28px;
						width: 40%;
						@media (max-width: 991px) {
							width: 35%;
						}
						@media (max-width: 767px) {
							width: 30%;
						}
						&.span-left {
							border-left: 1px solid #e93b3b;
							margin-top: -135px;
							@media (max-width: 767px) {
								margin-top: -201px;
							}
						}
						&.span-right {
							border-right: 1px solid #e93b3b;
							margin-top: -135px;
							@media (max-width: 767px) {
								margin-top: -201px;
							}
						}
					}
				}
			}
		}
	}
	//MANAGERS=======================================
	.managers {
		background-color: #f3f3f3;
		.managers__title {
			font-size: 30px;
			text-align: center;
			padding-top: 50px;
		}
		.wrapper-manager {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			padding-bottom: 50px;
			.managers-cart {
				width: 30%;
				flex-direction: column;
				justify-content: center;
				margin: 30px 15px;

				@media (max-width: 767px) {
					width: 40%;
				}
				@media (max-width: 575px) {
					width: 100%;
				}

				.managers-cart__img {
					text-align: center;
					margin-bottom: -25px;
				}
				.wrap-cart {
					background-color: #fff;
					height: 125px;
					.managers-cart__name {
						text-align: center;
						font-weight: bold;
						text-transform: uppercase;
						font-size: 16px;
						color: #e93b3b;
						padding-top: 40px;
					}
					.managers-cart__text {
						line-height: 1.5;
						padding-top: 10px;
						text-align: center;
					}
				}
			}
		}
	}
	//BG-block========================================
	.bg3 {
		background: url(../img/bgf.png) 0 0 / cover no-repeat, url(../img/bg3.png) center center / cover no-repeat;
		padding-top: 60px;
		padding-bottom: 75px;
	}
	//DIPLOMS=============================================
	.diploms {
		background-color: #f3f3f3;
		.diploms__title {
			padding-top: 45px;
			padding-bottom: 30px;
			font-size: 30px;
			text-align: center;
		}
		.diploms__photo {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			padding-bottom: 65px;
		}
	}
	//BG-block========================================
	.bg4 {
		background: url(../img/bgf.png) 0 0 / cover no-repeat, url(../img/bg4.png) center center / cover no-repeat;
		padding-top: 60px;
		padding-bottom: 75px;
	}
	//WORK================================================
	.work {
		.work__title {
			font-size: 30px;
			text-align: center;
			margin-top: 40px;
		}
		.work__column {
			display: flex;
			flex-direction: column;
			.work__row {
				display: flex;
				margin-top: 30px;
				justify-content: space-between;
				@media (max-width: 991px) {
					flex-wrap: wrap;
				}
				.work__cart {
					text-align: center;
					flex: 25%;
					@media (max-width: 991px) {
						flex: 33%;
						margin-top: 20px;
					}
					@media (max-width: 767px) {
						flex: 50%;
					}
					@media (max-width: 767px) {
						flex: 100%;
					}
					.work__cart-title {
						font-size: 16px;
						color: #e93b3b;
						padding-top: 25px;
					}
					.work__cart-text {
						line-height: 1.2;
						padding-top: 20px;
						font-weight: 300;
					}
				}
			}
		}
		.work__info {
			font-size: 16px;
			font-weight: bold;
			text-align: center;
			border: 1px solid black;
			padding: 40px 60px;
			margin: 45px 0;
			line-height: 1.5;
			@media (max-width: 767px) {
				font-size: 13px;
				padding: 20px;
			}
		}
	}
	//SERVICES=========================================
	.services {
		background-color: #f3f3f3;
		.services__title {
			font-size: 30px;
			text-align: center;
			padding-top: 45px;
		}
		.services__list {
			display: flex;
			justify-content: space-between;
			text-align: center;
			padding-top: 30px;
			@media (max-width: 991px) {
				flex-wrap: wrap;
			}
			.services__list-block {
				display: flex;
				flex-direction: column;
				align-items: center;
				flex: 20%;
				@media (max-width: 991px) {
					flex: 33%;
				}
				@media (max-width: 767px) {
					flex: 50%;
				}
				.services__list-text {
					padding-top: 15px;
					padding-bottom: 50px;
					font-size: 16px;
					font-weight: bold;
					@media (max-width: 575px) {
						font-size: 14px;
					}
				}
			}
		}
	}
	//BG-block========================================
	.bg5 {
		background: url(../img/bgf.png) 0 0 / cover no-repeat, url(../img/bg5.png) center center / cover no-repeat;
		padding-top: 60px;
		padding-bottom: 75px;
	}
	//QUESTIONS===================================
	.questions {
		display: flex;
		justify-content: center;
		.form {
			display: flex;
			flex-direction: column;
			text-align: center;
			width: 90%;
			.form__title {
				display: block;
				border: 1px solid #25333c;
				background-color: #25333c;
				color: #fff;
				text-transform: uppercase;
				font-size: 19px;
				font-weight: bold;
				padding: 18px 0;
				span {
					font-size: 16px;
					font-weight: normal;
				}
			}
			.form__input {
				display: flex;
				flex-direction: column;
				align-items: center;
				background-color: rgba($color: #dedfe4, $alpha: 0.6);
				padding-top: 12px;
				.form__input-input {
					display: flex;
					justify-content: space-between;
					width: 95%;
					input {
						border: 1px solid #c1c4c7;
						padding: 15px;
						margin-bottom: 5px;
						width: 33%;
					}
				}
				.form__input-text {
					textarea {
						resize: none;
					}
					::placeholder {
						padding: 15px;
					}
				}
				.button {
					margin-top: 10px;
					margin-bottom: 23px;
					padding: 18px 35px;
					color: #fff;
					font-size: 14px;
					text-transform: uppercase;
					background-color: #e93b3b;
					border-radius: 5px;
					&:hover {
						background-color: rgb(236, 17, 17);
						font-weight: bold;
					}
				}
			}
		}
	}
	//FOOTER=====================================
	.footer {
		background-color: #25333c;
		.wrap-footer {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 30px 0;
			.logo {
				display: flex;
				align-items: center;
				.tur {
					position: absolute;
				}
				.rus {
					position: relative;
					margin-left: 45px;
				}
				.logo-text {
					display: flex;
					flex-direction: column;
					p {
						color: #fff;
						text-transform: uppercase;
						padding-left: 10px;
						&.title {
							font-family: "Roboto Condensed";
							font-weight: bold;
							font-size: 27px;
							margin-top: -5px;
							@media (max-width: 991px) {
								font-size: 21px;
								padding-top: 6px;
							}
						}
						&.subtitle {
							font-family: "Roboto Condensed";
							font-weight: normal;
							font-size: 12px;
							padding-left: 14px;
							@media (max-width: 991px) {
								font-size: 8px;
							}
						}
						@media (max-width: 991px) {
							margin-left: -15px;
						}
						@media (max-width: 767px) {
							margin-left: 0;
						}
					}
				}
				@media (max-width: 991px) {
					display: block;
				}
				@media (max-width: 767px) {
					display: flex;
				}
			}
			.top-footer__forms {
				&.track {
					img {
						margin-right: 10px;
					}
				}
			}
			img {
				margin-right: 5px;
				margin-bottom: 10px;
			}
			a {
				color: #d3d6d8;
			}
			.top-footer__contacts {
				&.phone {
					font-weight: bold;
					img {
						margin-right: 10px;
					}
				}
			}
		}
	}
}
